body{
	background-color: lightgreen;
	background-image: url(https://i.gifer.com/origin/f5/f5baef4b6b6677020ab8d091ef78a3bc_w200.gif);
    background-size: 200px;
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-attachment: fixed;
}
p{
	font-size: 0.8in;
	background-image: url(https://img.freepik.com/free-vector/bokeh-theme-wallpaper_23-2148467962.jpg);
	background-size: cover;
	color: tomato;
	text-align: center;
}
div{
	width: 500px;
	height: 500px;
	margin: 20px;
}
#d1{
	background-image: url(https://img.pravda.com/images/doc/7/4/7450317_fb_image_rus_2024_04_09_07_49_21.jpg);
	background-size: cover;
}
#d2{
	border: solid 20px;
	border-image: linear-gradient(white,red) 30;
}
#img1{
	width: 50%;
	border: ridge 20px orangered;
}